.info{
    border-radius: 20px;
}

.paid{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
}

.sooner{
text-align: center;
padding-top: 10%;
border-top-right-radius: 1em 1em;
border-bottom-right-radius: 1em 1em;

}

.fun{
    margin-left: 300px;
    margin-right:300px;
}

.amazing{
    margin-left: 300px;
    margin-right:300px;
}

.foot p1{
    font-family: Impact, sans-serif;
    font-size:x-large ;
}

/* Miguels' CSS for Nav Bar/header */

#list {
    width: 90%;
}
#click{
    width: 5.5%;
    border: solid black 3px;}
#chat{
    width: 6%;
    border: solid black 3px;
}

.row {
    justify-content: center;

}

#top{
    justify-content: space-evenly;
}

.F{
    padding:40px;

}

.Pr{
    padding:40px;
}

.HIW{
    padding:40px;
}

.Sup{
    padding:40px;
}

.SI{
    padding: 10px;
    border: solid blue;
    border-radius: 40%;
}

.Try{
    background-color: blue;
    padding: 10px;
    border: solid blue;
    border-radius: 40%;
}
